* {
  line-height: 2em;
  font-size: 16px;
}

body,
html {
  margin: 0;
}

main {
  min-height: calc(100vh - 116px);
}

section {
  padding: 16px 5vw;
}

header,
footer {
  background-color: #043528;
  color: white;
  text-align: center;
  letter-spacing: 0.05em;
}

header {
  padding: 8px 0;
}

header h1 {
  font-size: 32px;
  font-weight: 600;
}

footer {
  padding: 4px 0;
}

footer h1 {
  font-size: 14px;
  font-weight: 300;
}

#id-miyu{
  color:rgb(0, 17, 255);
}

.class-miyu{
  text-align: center;
  font-weight: 100;
  font-size: 50px;
  background-color: #55ff007c;
}
.class-miyu:hover{
  color:red;
}
